<div class="jumbotron">
  <h1 class="display-3">Dia De Doar</h1>
  <p class="lead">Comprou algo novo e está pensando em jogar fora o antigo? Doe! Aqui você pode doar o que você não quer mais na sua vida e deixar feliz outras pessoas que precisam.</p>
  <td>&emsp;</td>
  <td>&emsp;</td>
  <td>&emsp;</td>
  <td>&emsp;</td>
  <td>&emsp;</td>
  <td>&emsp;</td>
  <%= image_tag ("banner.jpg") %>
<br>
  </p>
</div>
