<h5>Como nosso site funciona</h5>

<p>Clique em "Cadastrar", caso não tenha cadastro ainda e preencha os campos de e-mail, nome, endereço, telefone. </p>
<p>Clique em "Entrar" se já tiver cadastro. </p>
<p>Após o login efetuado, clique "Produtos", onde terá disponível os produtos que outros usuários querem doar.</p>
<p>Se tiver interesse em algum produto disponível, clique em EUQUERO, após isso o sistema encaminha um e-mail contendo o nome, telefone e e-mail de contato do interessado para o doador.</p>
<p>Em relação a entrega dos produtos e outras condições necessárias, será por contato direto entre os usuários envolvidos. </p>

<li><a href="/">Voltar</a></li>
